<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
	  <objectContribution
			adaptable="false"
			id="de.fzi.decision.security.ui.SecurityAnalysis"
			objectClass="org.palladiosimulator.pcm.core.entity.Entity">
		 <action
			   class="de.fzi.decision.security.ui.analysis.SecurityAnalysisController"
			   enablesFor="1"
			   id="de.fzi.decision.security.ui.analyse"
			   label="PCM Security Analysis"
			   menubarPath="additions">
		 </action>
	  </objectContribution>
	</extension>


</plugin>
