<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.fzi.decision.security.ui.main.SecurityPatternEditorPart"
            default="false"
            extensions="security"
            icon="icons/sample.gif"
            id="de.fzi.decision.security.ui.securitypatterneditor"
            name="SecurityPatternEditor">
      </editor>
   </extension>


</plugin>
