<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="patterns.SecurityAnalysisPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:patterns.SecurityAnalysisPatterns" id="patterns.SecurityAnalysisPatterns">
      <query-specification fqn="patterns.stereotypesOnElement"/>
      <query-specification fqn="patterns.attackByPrerequisite"/>
    </group>
  </extension>
</plugin>
